@import "module";

$center_line: 2px;   //分隔线宽
$h2_padding: 20px;   //h2上下间距
$label_width: 50px;     //label宽度
$input_width: 300px;     //input宽度
$form_line:20px;        //form间距
$button_width:80px;     //按钮宽度


// 主体
.m_form{
	width: $max_width - $nav_width - $center_line;
	float: right;
	background-color: #FFF;
}
.m_form h2{
	height: 30px;
	text-align: center;
	padding-top: $h2_padding;
	padding-bottom: $h2_padding;
	font-size: 18px;
}
.mf_ul{
	@include center($label_width + $input_width + $form_line);
}
.mf_ul li{
	margin-bottom: 20px;
	overflow: hidden;
}
.mful_title{
	width: $label_width;
	text-align: right;
	float: left;
}
.mful_text{
	width: $input_width;
	float: right;
}
.mf_sub{
	width: $button_width;
	margin-left: ($max_width -($label_width + $input_width + $form_line) - $button_width * 2) / 2 + (($label_width + $input_width + $form_line) - $button_width * 2) / 3 ;
	margin-bottom: 20px;
}
.mf_res{
	width: $button_width;
	margin-left: (($label_width + $input_width + $form_line) - $button_width * 2) / 3 ;
	margin-bottom: 20px;
}
